body
{
    background-color: black;
}
h1
{

color: white;
font-size: 50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
p{
    color: white;
}
.street_mission

{
width: 900px;
height: auto;
}